* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), color-stop(rgba(255, 0, 0, 0.3)), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(0.1em, rgba(0, 0, 255, 0.3)), color-stop(0, transparent));
  background-image: linear-gradient(90deg, transparent 10%, rgba(255, 0, 0, 0.3), transparent calc(10% + 0.2rem)), linear-gradient(rgba(0, 0, 255, 0.3) 0.1em, transparent 0);
  background-size: 100% 2em;
  font-family: 'Architects Daughter', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

header {
  text-align: center;
}

.App {
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 75em;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .game-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.figure {
  width: 100%;
  max-width: 80vmin;
}

.figure svg {
  width: 100%;
}

.figure svg path.hangman__part {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.figure svg path.hangman__part.show {
  opacity: 1;
}

.letters-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 40em;
}

.word {
  font-size: 1.3em;
  font-size: clamp(1.3em, 5vw, 2.5em);
  font-weight: bold;
  margin-bottom: 2rem;
}

.word .letter {
  color: #02418c;
  margin: 0 0.2em;
  position: relative;
  min-width: 1em;
  min-height: 1.4em;
  text-align: center;
  -webkit-transition: 1s ease-in-out linear;
  transition: 1s ease-in-out linear;
}

.word .letter span {
  opacity: 0;
  -webkit-transition: 1s ease-in-out linear;
  transition: 1s ease-in-out linear;
}

.word .letter span.show {
  opacity: 1;
}

.word .letter .underline {
  background-color: #111;
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  height: 0.1em;
}

.input-letter-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.input-letter-grid .input-letter {
  cursor: pointer;
  font-size: 2em;
  font-size: clamp(2em, 5vw, 3em);
  margin: 2%;
  position: relative;
  width: 10%;
}

.input-letter-grid .input-letter.wrong::after {
  content: '';
  background: url("./assets/wrong.png") center/contain no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.input-letter-grid .input-letter.correct::after {
  content: '';
  background: url("./assets/correct.png") center/contain no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */