* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), color-stop(rgba(255, 0, 0, 0.3)), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(0.1em, rgba(0, 0, 255, 0.3)), color-stop(0, transparent));
  background-image: linear-gradient(90deg, transparent 10%, rgba(255, 0, 0, 0.3), transparent calc(10% + 0.2rem)), linear-gradient(rgba(0, 0, 255, 0.3) 0.1em, transparent 0);
  background-size: 100% 2em;
  font-family: 'Architects Daughter', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 75em;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 0.5em;
  position: relative;
}

@media screen and (orientation: portrait) {
  .App {
    padding-top: 2em;
  }
}

.header-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-wrapper h1 {
  text-transform: uppercase;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  .header-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
  }
  .header-wrapper p::before {
    border-right: 2px solid #111;
    content: '';
    width: 100%;
    margin: 0 1rem;
  }
}

.game-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-height: 576px) and (orientation: landscape) {
  .game-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .game-wrapper .word-wrapper {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0 2em 1em 0;
  }
}

@media screen and (min-width: 768px) {
  .game-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.figure {
  width: 100%;
  max-width: 65vmin;
}

.figure svg {
  width: 100%;
}

.figure svg path.hangman__part {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.figure svg path.hangman__part.show {
  opacity: 1;
}

.letters-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 35em;
}

.word-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0 2em;
}

.mistakes {
  background: url("./assets/brush-stroke.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: clamp(1.2em, 2vw, 2.5em);
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  max-width: 20rem;
}

.word {
  font-size: 1.2em;
  font-size: clamp(1.2em, 2vw, 2.5em);
  font-weight: bold;
}

.word .letter {
  color: #02418c;
  margin: 0 0.2em;
  position: relative;
  min-width: 1em;
  min-height: 1.4em;
  text-align: center;
  -webkit-transition: 1s ease-in-out linear;
  transition: 1s ease-in-out linear;
}

.word .letter span {
  opacity: 0;
  -webkit-transition: 1s ease-in-out linear;
  transition: 1s ease-in-out linear;
}

.word .letter span.show {
  opacity: 1;
}

.word .letter .underline {
  background-color: #111;
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  height: 0.1em;
}

.input-letter-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.input-letter-grid .input-letter {
  cursor: pointer;
  font-size: 1.9em;
  font-size: clamp(1.9em, 3vw, 3em);
  margin: 1.5%;
  position: relative;
  width: 10%;
}

.input-letter-grid .input-letter.wrong::after {
  content: '';
  background: url("./assets/wrong.png") center/contain no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.input-letter-grid .input-letter.correct::after {
  content: '';
  background: url("./assets/correct.png") center/contain no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.notification-wrapper {
  background-color: #02418c;
  border-radius: 0.5rem;
  opacity: 0;
  padding: 0.5em 1em;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%, 150%);
          transform: translate(-50%, 150%);
  width: 100%;
  max-width: 450px;
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s linear;
  transition: transform 0.3s ease-in-out, opacity 0.3s linear, -webkit-transform 0.3s ease-in-out;
}

.notification-wrapper.show {
  opacity: 1;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.notification-wrapper .notification {
  color: #fff;
  font-size: 1em;
  font-size: clamp(1em, 1.6vw, 2em);
  letter-spacing: 1px;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */